/ASW_R&D/BioSciFullyAutoAnalyser/GRPCServer/bin
/UI/ui_biosci_faa_proj/build
/ASW_R&D/BioSciFullyAutoAnalyser/GRPCServer/obj
/ASW_R&D/BioSciFullyAutoAnalyser/.vs
/ASW_R&D/BioSciFullyAutoAnalyser/Data/bin
/ASW_R&D/BioSciFullyAutoAnalyser/Data/obj
/ASW_R&D/BioSciFullyAutoAnalyser/DeviceController/bin
/ASW_R&D/BioSciFullyAutoAnalyser/DeviceController/obj
/ASW_R&D/BioSciFullyAutoAnalyser/packages
/ASW_R&D/GrpcClient/.vs
/ASW_R&D/GrpcGreeter/.vs
/UI/ui_biosci_faa_proj/.dart_tool
/UI/ui_biosci_faa_proj/.idea
/UI/ui_biosci_faa_proj/android
/UI/ui_biosci_faa_proj/ios/Flutter
/UI/ui_biosci_faa_proj/ios
/UI/ui_biosci_faa_proj/macos
/UI/ui_biosci_faa_proj/windows
/UI/ui_biosci_faa_proj/.vscode
