################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ASW_R&D/BioSciFullyAutoAnalyser/.vs
/ASW_R&D/BioSciFullyAutoAnalyser/Data/bin/Debug/net10.0
/ASW_R&D/BioSciFullyAutoAnalyser/Data/obj
/ASW_R&D/BioSciFullyAutoAnalyser/DeviceController/bin
/ASW_R&D/BioSciFullyAutoAnalyser/DeviceController/obj
/ASW_R&D/BioSciFullyAutoAnalyser/GRPCServer/bin
/ASW_R&D/BioSciFullyAutoAnalyser/GRPCServer/obj
/ASW_R&D/GrpcClient/.vs
/ASW_R&D/GrpcGreeter/.vs/GrpcServer/CopilotIndices/18.4.114.215
/ASW_R&D/GrpcGreeter/.vs/GrpcServer.slnx
/ASW_R&D/GrpcGreeter/.vs/ProjectEvaluation
/ASW_R&D/BioSciFullyAutoAnalyser/packages/EntityFramework.6.5.1
